<div class="page-header">
  <h1>User Stories and Business Rules</h1>
</div>

<h4>User Stories</h4>

<ol>
  <li>As a visitor, I want to see all of the collectible Hearthstone cards.</li>
  <li>As a visitor, I want to click on a card to see its details.</li>
  <li>As a visitor, I want to sign up for a free account so that I can create filters on the cards.</li>
  <li>As a user, I want to create filters on the cards.</li>
  <li>As a user, I want to view how many cards match my filter criteria.</li>
  <li>As a user, I want to view a list of the cards that match my filter criteria.</li>
  <li>As a user, I want to view a list of my card filters.</li>
  <li>As a user, I want to delete a filter that I created</li>
  <li>As a user, I want to modify filter's various filter criteria.</li>
</ol>


<h4>Business Rules</h4>

<ol>
  <li>Card information includes type, class, rarity, set, faction, artist, and flavor text.</li>
  <li>A filter consists of filter criteria on card name and artist name.</li>
  <li>All text criteria in filters is case-insensitive and inclusive (i.e. "sar" is a part of "Sarah".</li>
  <li>Passwords must be encrypted.</li>
</ol>
