<div class="row">

  <% @cards.each do |c| %>

  <!-- Product Thumbnail -->
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">

      <% photo_url = "http://media.services.zam.com/v1/media/byName/hs/cards/enus/" + c.id + ".png" %>
      <%= link_to image_tag(photo_url),
                  "/cards/#{c.id}",
                  class: 'img-responsive' %>

    </div>
  </div>

  <% end %>
</div>
